<ActionBar title="Home - {{ getApplicationVersion() }}">
    <ActionItem text="Add" ios.position="right" (tap)="navigateCreatePage()"></ActionItem>
</ActionBar>
<GridLayout>
    <ListView [items]="people" class="list-group">
        <ng-template let-person="item">
            <StackLayout class="list-group-item" 
                (tap)="navigateDetailsPage(person.firstName + ' ' + person.lastName)"
            >
                <Label class="2" text="{{ person.firstName }} {{ person.lastName }}"></Label>
                <Label text="{{ hashName(person.firstName + ' ' + person.lastName) }}"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
</GridLayout>